{% extends "::base.html.twig" %}

{% block title %}Cafe critic{% endblock %}

{% block body %}
    {% block header %}
        <div class="container">
            <div class="col-lg-3 col-md-3">
                <a href="{{ path('app_index_index') }}">Cafe critic</a>
            </div>
            <div class="col-lg-offset-3 col-lg-3">
                <form action="" method="post"
                      class="form-inline my-2 my-lg-0">
                    <input id="findData" name="data" class="form-control mr-sm-2" type="text"
                           placeholder="Введите..." aria-label="Search">
                    <button id="search_btn" class="search-btn btn btn-outline-success my-2 my-sm-0"
                            type="submit" onClick="return empty()">
                        <span class="glyphicon glyphicon-search"></span></button>
                </form>
            </div>
            <div class="col-lg-3">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('sonata_admin_dashboard') }}" id="admin_panel">Admin panel</a> |
                {% endif %}
                {% if not is_granted('ROLE_USER') %}
                    <a href="{{ path('fos_user_registration_register') }}">Register</a> |
                    <a href="{{ path('fos_user_security_login') }}">Log in</a> |
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <p>Hello,</p><a href="#">User <span class="caret"></span></a>
                    <a href="{{ path('app_index_new') }}"> Add new place</a> |
                    <a href="/logout">Log out</a>
                {% endif %}
            </div>

            <div class="col-lg-12">
                <h2>All places</h2>
                <p>Select category: <a href="#">All</a>, <a href="#">Restaurants</a>, <a href="#">Cafes</a>,
                    <a href="#">Pubs</a>, <a href="#">Taverns</a>
                </p>
                {% for restaurant in restaurants %}
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="{{ 'images/avatars/' ~ restaurant.avatar }}">
                            <div class="caption">
                                <h3><a href="{{ path('app_index_details', {id: restaurant.id}) }}">{{ restaurant.name }}</a></h3>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    {% endblock header %}
    {% block footer %}
        <div class="col-lg-4 col-md-4">
            <span class="copyright">&#169; {% trans %}Cafe critic{% endtrans %} 2017</span>
        </div>
    {% endblock footer %}
{% endblock %}