.success {
    margin: 10px 10px 10px 10px;
    border: solid yellow;
    background-color: black;
    color: yellow;
}

.flash-message {
    margin: 10px 10px 10px 10px;
    border: solid black;
    background-color: yellow;
    color: black;
}

.link {
    text-align: center;
    margin-top: 20px;
}

.home_link {
    padding: 10px;
    border-radius: 3px;
    background-color: yellow;
    color: black;
    border: 2px solid black;
}

.home_link:hover {
    text-decoration: none;
    color: yellow;
    background-color: black;
    border: yellow 2px solid;
}

.message {
    background-color: #000000;
    color: yellow;
    border: 1px solid yellow;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.sign_form {
    padding: 0 30px 10px 30px;
    margin-top: 80px;
    background-color: #F7F7F7;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.jumbotron .p_history {
    font-size: 23px;
    margin-bottom: 5px;
}

.jumbotron .history_menu {
    padding-left: 10px;
    padding-right: 10px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.jumbotron h3 {
    cursor: pointer;
    text-align: center;
}

table tr{
    cursor: pointer;
}
#content{
    background-color: #48eee5;
}